<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{> par}}
<form action="/usersPost/site" method="POST" >
 <input type="text" name="email" val="Скрытое, но не секретное!">
    <div></div>
    <label for="fieldColor">Ваш любимый цвет: </label>
     <input type="text" id="fieldColor" name="name"> </div>
    <div> <button type="submit">Отправить</button> </div>
</form>