<form class="signup">
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email_error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password_error"></div>
    <button>Sign up</button>
    {{!-- <input type="submit" value="Submit"> --}}
</form>

<script>
    const form = document.querySelector('.signup');
    const emailError = document.querySelector('.email_error');
    const passwordError = document.querySelector('.password_error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        //det the volue
        const email = form.email.value;
        const password = form.password.value;

        // body:JSON.stringify({email:email,password:password})
        try {
            const res = await fetch('/signup', {
                method: "POST",
                // body:JSON.stringify({email:email,password:password})
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user){
                console.log('location');
                location.assign('/');
            }
        }
        catch (err) {
            // const errors = heandlErrors(err);
            console.log(err);

        }


    })

</script>